DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ggstore?schema=public"

# WhatsApp (Guatemala)
WHATSAPP_NUMBER="50239517765"
WHATSAPP_BASE_MESSAGE="Hola, me interesa este pedido:"

# Sesiones
SESSION_DAYS="30"
COOKIE_NAME="ggs_session"

# Seed admin
ADMIN_SEED_EMAIL="admin@ggstore.local"
ADMIN_SEED_PASSWORD="Admin123!"

# Opcional (si luego usas Cloudinary)
CLOUDINARY_CLOUD_NAME="ggstore"
