# ===== Database (local) =====
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ggstore?schema=public"

# ===== WhatsApp (Guatemala) =====
WHATSAPP_NUMBER="50239517765"
WHATSAPP_BASE_MESSAGE="Hola, me interesa este pedido:"

# ===== Sesiones =====
SESSION_DAYS="30"
COOKIE_NAME="ggs_session"

# ===== Seed admin (cambia en producción) =====
ADMIN_SEED_EMAIL="admin@ggstore.local"
ADMIN_SEED_PASSWORD="Admin123!" # CAMBIAR en Vercel/Producción

# ===== Cloudinary (ya definido) =====
CLOUDINARY_CLOUD_NAME="dk7aiheee"
CLOUDINARY_FOLDER="ggstore"